body{
	background:#f3f3f3;
}

div.bodywrapper{
	width:100%;
	margin:0px;
	padding:0px;
}

		nav{
			z-index:1;
		}

    	ul.navbar-right button{
    		background-color: #fff;
    		border: none;
    		width:100%;
    		text-align: left;
	    	margin-bottom:2px;
    	}
    	ul.navbar-right button:hover{
	    	color:#fff;
	    	background:#505b72;
	    }

	    ul.navbar-right button.active{
	    	color:#fff;
	    	background:#505b72;
	    }

	    ul.navbar-right button.active:hover{
	    	color:#fff;
	    	background:#505b72;
	    }

	    ul.navbar-right button img{
	    	height:18px;
	    	margin-bottom:2px;
	    }

	    ul.navbar-right button.user-profile{
	    	padding:0px;
	    	background-color: #fff;
    		border: none;
	    }

		ul.navbar-right button.user-profile img{
	    	margin-bottom:2px;
	    }
	   ul.navbar-right button.user-profile:hover{
	    	padding:0px;
	    	background-color: #fff;
	    	color: #000;
    		border: none;
	   }

	   ul.navbar-right ul.dropdown-menu{
	    	color:#000;
	    	background-color: #fff;
	    	margin-top: 10px;
	    }

	   ul.navbar-right ul.dropdown-menu:hover{
	    	color:#000;
	    	background-color: #fff;
	    }

	   ul.navbar-right ul.dropdown-menu table{
	    	color: #000;
	    	border: 0px solid grey;
	    }

	   ul.navbar-right ul.dropdown-menu table td{
	    	color: #000;
	    	border: 0px solid #fff;
	    }

	   ul.navbar-right ul.dropdown-menu table:hover{
	    	color: #000;
	    }

	   ul.navbar-right ul.dropdown-menu table td{
	    	text-align: left;
	    }

	   ul.navbar-right ul.dropdown-menu div.left-margin-text{
	    	color:#000;
	    	font-weight: bold;
	    	text-align: left;
	    	margin-bottom: 3px;
	    	padding-left: 3%;
	    }

	   ul.navbar-right ul.dropdown-menu button{
	    	width:90%;
	    	border:1px solid #505b72;
	    	text-align: center;
	    }

/**
*Panel - Recognization
*/

div#primewrapper{
margin:2% 2.25%;
}

div#recog-heading{
	background:#ea8744;
	border:1px solid #ea8744;
	height:38px;
	color: #fff;
}



/**
* Select a newer - input textbox
*/
input#recognize-newer-txtbx{
	width:100%;
	height:30px
}

input[type="text"]#newer-txtbx:focus{
	box-shadow: none;
	border-color: grey;
}

/**
* reason- textarea
*/

textarea#reason{
	height: 125px;
	margin-top: 15px;
	margin-bottom: 0px;
}

textarea#reason:focus{
	box-shadow: none;
	border-color: grey;
}


div#replace-textarea{
	height: 125px;
	margin-top: 15px;
	margin-bottom: 0px;
	min-height: 125px;
	max-height: 125px;
	overflow: auto;
	padding-top: 5px;
}

div#replace-textarea input{
	background-color: #e2e2e2;
	margin-bottom:3px;
	border:1px solid black;
}

div#replace-textarea label{
	ackground-color: #e2e2e2;
}

div#recognize-footer{
	height: 42px;
	vertical-align: middle;
	padding-top:5px;
}

div#recognize-footer button{
	margin-top:0px;
}

/**
* Select a badge - menu
*/

button#menu1{
	width:100%;
	height:30px;
}

button#menu1:hover{
	background: #fff;
	border:1px solid grey;
}

button#menu1:focus{
	background: #fff;
	border:1px solid grey;
}

span.recog-menu-button{
	float:left;
	margin-top:-2px;
	color:grey
}

span.recog-menu-caret{
	float:right;
	margin-top:7px;
	margin-right: -2px;
	color:grey;
}
/**
* Select a Karma - menu
*/

button#menu2{
	width:100%;
	height:30px;
}

button#menu2:hover{
	background: #fff;
	border:1px solid grey;
}

button#menu2:focus{
	background: #fff;
	border:1px solid grey;
}

ul.recog-menu{
	width:100%;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:1px;
}
ul.recog-menu li{
	border-bottom:1px solid #e5e5e5;
	padding-left: 0px;
}
ul.recog-menu li a span{
	text-decoration:none;
	color:#000;
	line-height:20px;
	margin:8px 0px 0px 0px;
}

ul.recog-menu li a span img{
	line-height:20px;
	margin:0px 5px 3px 0px;
}

label#reasonlbl{
	margin:0px;
	height:25px
}

textarea#reason{
	resize:none;
}

button.recogbt{
	background-color:#505b72;
	line-height:17px;
	width:110px;
	border:1px solid #5e697e
}

button.recogbt img{
	margin-bottom: 3px;
}

button.recogbt:hover{
	background-color:#505b72;
	line-height:17px;
	width:110px;
	border:1px solid #5e697e
}

div.wall-header{
	border-radius:5px 5px 0px 0px;
	padding:2px 13px 2px 15px;
	border:1px solid #8d9fc4;
	width:100%;
	background:#8d9fc4;
}

span.wall-fame-title{
	line-height:36px; color:#fff;
}

div.col-sm-3{
	height:36px;
	padding:0px 5px;
}

div.col-sm-2{
	height:36px;
	padding:0px 5px;
}

div.col-sm-1{
	height:36px;
	padding:0px 5px;
}

div.col-sm-6{
	height:36px;
	padding:0px 5px;
}

div.form-group input[name="search-fame"]{
	height:35px;
	border:1px solid #8d9fc4;
	font-family: default;
	font-size: 15px;
	color:#334974;
}

div.form-group input[name="search-fame"]:hover{
	height:35px;
	border:1px solid #8d9fc4;
	box-shadow: none;
	margin: 0px;

}

span.glyphicon{
	color:grey;
}

button.wall-btn{
	width:100%;height:35px; background-color: #fff; border:1px solid #8d9fc4;
}

button.wall-btn:hover{
	width:100%;height:35px; background-color: #fff; border:1px solid #8d9fc4;
}

button.wall-btn:focus{
	width:100%;height:35px; background-color: #fff; border:1px solid #8d9fc4;
}

button.wall-btn span.btn-text{
	float:left;
}

button.wall-btn span.menu-wall-caret{
	float:right;margin-top:8px;
}

ul.menu-wall{
	padding-top:0px;
	padding-bottom:0px;
	margin-top:1px;
}

ul.menu-wall li{
	border-bottom:1px solid #e5e5e5;
	padding-left: 0px;
}

ul.menu-wall li:hover{
	border-bottom:1px solid #e5e5e5;
	padding-left: 0px;
	background-color: #f2f2f2;
}
ul.menu-wall li span a{
	text-decoration:none;
	color:#000;
	line-height:20px;
	margin:8px 0px 0px 8px;
}

 div#badges-heading{
	background:#8d9fc4;
	border:1px solid #8d9fc4;
	height:38px;
	color: #fff;
}

table tr th{
	text-align: center;
}

table tr td{
	text-align: center;
}

ul.nav-tabs li.nav-tab-li{
	width:50%;
	height: 40px;
	margin:0px;
}

ul.nav-tabs li.nav-tab-li a{
	background-color: #c2c2c2;
	color:#000;
}

ul.nav-tabs li.active a{
	background-color: #fff;
	color:#000;
}
ul.nav-tabs li.nav-tab-li a:focus{
	background-color: #fff;
}

img.profile-pic{
	height:60px;
	border:1px solid #e2e2e2;
	border-radius: 30px;
	margin:5px 0px;
}

div.newer-row{
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 0px;
}

div.tab-content table{
	margin:0px;
}

ul.list-menu{
	overflow: auto;
	height: 180px;
	width:100%;
}

/*added by jay*/
.dropdown-menu>li.user-header>img
{
	z-index:5;
	height:122px;
	width:122px;
	border:3px solid;
	border-color:transparent;
	border-color:#e9e9e9;
	float:left;
}

#user>.dropdown-menu
{
	width: 800px !important;
	height: 350px !important;
}
.dropdown-menu>li.user-footer
{
	background-color:#f4f4f4;
}
#dropdownWidth{
width:500px;
}

#dropdownWidth option{
width:100px;
}
