.container {
  width: 80%;
  border: 1px solid rgb(11, 11, 11);
  margin: auto;
}

.header, .footer {
  padding: 1em;
  color: white;
  background-color: rgba(27, 29, 26, 0.93);
  clear: left;
  text-align: center;
}

.navPanel {
  float: left;
  width: 12%;
  margin: 0;
  padding: 1em;
}

.content {
  margin-left: 170px;
  border-left: 1px solid rgb(11, 11, 11);
  padding: 1em;
  overflow: hidden;
  height: 450px;
}
