.mynavbar
{
    background-color: #e8f7f4;

}
.mybrand
{
    font-size:x-large;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.search-box{ border-radius: 50px }

.my-panel{background-color: #e8f7f4;
    border-radius: 20px;
}

.my-panel{
    background-color: #e8f7f4;
    border-radius: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.user_img
{
    height: 100px;
    width: 100px;
}

.password-panel
{
    margin-top: 10px;
}
.topics-panel
{
    margin-top: 10px;
}


.glyphicon-envelope
{
    font-size: 25px;
}
.glyphicon-pencil
{
    font-size: 25px;
}
.glyphicon-trash
{
    font-size: 25px;
}